## recommended_nutrition
- find unique value in nutrition group
- and those groups would be atrrbutes of this table
- 單位以原分析項為準：Fat(mg)

In [52]:
import pandas as pd

In [53]:
rn_df = pd.read_csv('food_nutrition.csv')

In [54]:
rn_df['分析項分類'].unique()

array(['糖質分析', '胺基酸組成', '脂肪酸組成', '一般成分', '其他', '維生素B群 & C', '維生素A', '礦物質',
       '維生素D', '維生素E', '維生素K'], dtype=object)

In [55]:
mask = rn_df['分析項分類'] == '脂肪酸組成'
fat_group = rn_df[mask]
fat_group

,食品分類,資料類別,整合編號,樣品名稱,俗名,樣品英文名稱,內容物描述,廢棄率,分析項分類,分析項,含量單位,每100克含量,樣本數,標準差,每單位含量,每單位重,每單位重含量
4,加工調理食品及其他類,樣品基本資料,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)",0.0,脂肪酸組成,次亞麻油酸(18:3),mg,104,3.0,NaN,104.0,71.0克,74.0
6,加工調理食品及其他類,樣品基本資料,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)",0.0,脂肪酸組成,肉豆蔻烯酸(14:1),mg,0,3.0,NaN,0.0,71.0克,0.0
7,加工調理食品及其他類,樣品基本資料,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)",0.0,脂肪酸組成,肉豆蔻酸(14:0),mg,51,3.0,NaN,51.0,71.0克,36.0
9,加工調理食品及其他類,樣品基本資料,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)",0.0,脂肪酸組成,辛酸(8:0),mg,5,3.0,NaN,5.0,71.0克,4.0
11,加工調理食品及其他類,樣品基本資料,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)",0.0,脂肪酸組成,亞麻油酸(18:2),mg,1056,3.0,NaN,1056.0,71.0克,750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224738,魚貝類,樣品基本資料,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎",73.1,脂肪酸組成,油酸(18:1),mg,129,1.0,NaN,129.0,0.0克,0.0
224739,魚貝類,樣品基本資料,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎",73.1,脂肪酸組成,花生油酸(20:4),mg,21,1.0,NaN,21.0,0.0克,0.0
224740,魚貝類,樣品基本資料,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎",73.1,脂肪酸組成,花生酸(20:0),mg,0,1.0,NaN,0.0,0.0克,0.0
224741,魚貝類,樣品基本資料,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎",73.1,脂肪酸組成,芥子酸(22:1),mg,0,1.0,NaN,0.0,0.0克,0.0
224742,魚貝類,樣品基本資料,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎",73.1,脂肪酸組成,癸酸(10:0),mg,0,1.0,NaN,0.0,0.0克,0.0

In [56]:
fat_group['分析項'].unique()

array(['次亞麻油酸(18:3)', '肉豆蔻烯酸(14:1)', '肉豆蔻酸(14:0)', '辛酸(8:0)',
       '亞麻油酸(18:2)', '其他脂肪酸', '油酸(18:1)', '花生油酸(20:4)', '花生酸(20:0)',
       '芥子酸(22:1)', '癸酸(10:0)', '脂肪酸M總量', '脂肪酸P總量', '脂肪酸S總量',
       '棕櫚烯酸(16:1)', '棕櫚酸(16:0)', '硬脂酸(18:0)', '酪酸(4:0)', '鱈烯酸(20:1)',
       'P/M/S', '十七酸(17:0)', '十九酸(19:0)', '十八碳四烯酸(18:4)', '十三酸(13:0)',
       '十五酸(15:0)', '山酸(22:0)', '己酸(6:0)', '廿二碳五烯酸(22:5)', '廿二碳六烯酸(22:6)',
       '廿四酸(24:0)', '廿碳五烯酸(20:5)', '月桂酸(12:0)'], dtype=object)

In [57]:
rn_df['分析項'].unique()

array(['半乳糖', '甘胺酸(Gly)', '甲硫胺酸(Met)', '白胺酸(Leu)', '次亞麻油酸(18:3)', '灰分',
       '肉豆蔻烯酸(14:1)', '肉豆蔻酸(14:0)', '色胺酸(Trp)', '辛酸(8:0)', '乳糖',
       '亞麻油酸(18:2)', '其他脂肪酸', '果糖', '油酸(18:1)', '花生油酸(20:4)', '花生酸(20:0)',
       '芥子酸(22:1)', '癸酸(10:0)', '苯丙胺酸(Phe)', '修正熱量', '胱胺酸(Cys)', '脂肪酸M總量',
       '脂肪酸P總量', '脂肪酸S總量', '酒精含量', '異白胺酸(Ile)', '粗脂肪', '粗蛋白', '組胺酸(His)',
       '脯胺酸(Pro)', '麥芽糖', '棕櫚烯酸(16:1)', '棕櫚酸(16:0)', '硬脂酸(18:0)',
       '絲胺酸(Ser)', '菸鹼素', '視網醇', '視網醇當量(RE)', '酥胺酸(Thr)', '鈣', '鈉', '葉酸',
       '葡萄糖', '酪胺酸(Tyr)', '酪酸(4:0)', '鉀', '飽和脂肪', '精胺酸(Arg)',
       '維生素A總量(IU)', '維生素B1', '維生素B12', '維生素B2', '維生素B6', '維生素C', '維生素D2',
       '維生素D3', '維生素D總量(IU)', '維生素D總量(ug)', '維生素E總量', '維生素K1',
       '維生素K2(MK-4)', '維生素K2(MK-7)', '銅', '熱量', '蔗糖', '鋅', '麩胺酸(Glu)',
       '糖質總量', '膳食纖維', '錳', '磷', '總碳水化合物', '膽固醇', '鎂', '離胺酸(Lys)', '鐵',
       '纈胺酸(Val)', '鱈烯酸(20:1)', 'P/M/S', 'α-生育酚', 'α-胡蘿蔔素',
       'α-維生素E當量(α-TE)', 'β-生育酚', 'β-胡蘿蔔素', 'γ-生育酚', 'δ-生育酚', '十七酸(17:0)',
       '十九酸(19:0)', '十八碳四烯酸(18:4)', '十三酸(13:0)', '十五酸(15:0)', '山酸(22:0)',
       '己酸(6:0)', '反式脂肪', '天門冬胺酸(Asp)', '廿二碳五烯酸(22:5)', '廿二碳六烯酸(22:6)',
       '廿四酸(24:0)', '廿碳五烯酸(20:5)', '月桂酸(12:0)', '水分', '水解胺基酸總量',
       '丙胺酸(Ala)'], dtype=object)

In [58]:
mask = rn_df['分析項'] == '飽和脂肪'
tmp = rn_df[mask]
tmp['分析項分類']

47        一般成分
151       一般成分
221       一般成分
325       一般成分
357       一般成分
          ...
224203    一般成分
224307    一般成分
224390    一般成分
224550    一般成分
224667    一般成分
Name: 分析項分類, Length: 2161, dtype: object

In [59]:
mask = rn_df['分析項'] == '鈣'
rn_df[mask].index

Int64Index([    40,    144,    214,    318,    350,    454,    553,    657,
               681,    785,
            ...
            223743, 223868, 223903, 224007, 224106, 224196, 224300, 224383,
            224543, 224660],
           dtype='int64', length=2161)

In [60]:
mask = rn_df['分析項'] == '菸鹼素'
rn_df[mask].index

Int64Index([    36,    140,    210,    314,    346,    450,    549,    653,
               677,    781,
            ...
            223635, 223739, 223864, 224003, 224102, 224192, 224296, 224379,
            224539, 224656],
           dtype='int64', length=2161)

## everyday_nutrition
- 可能需要用手打
- 要先決定這邊要留哪些成分

In [61]:
protein = ['甘胺酸(Gly)', '甲硫胺酸(Met)', '白胺酸(Leu)', '色胺酸(Trp)', '苯丙胺酸(Phe)', '胱胺酸(Cys)', '異白胺酸(Ile)', '組胺酸(His)', '脯胺酸(Pro)', '絲胺酸(Ser)', '酥胺酸(Thr)', '精胺酸(Arg)', '麩胺酸(Glu)', '離胺酸(Lys)', '纈胺酸(Val)', '天門冬胺酸(Asp)', '丙胺酸(Ala)', '粗蛋白']

In [62]:
fat = ['次亞麻油酸(18:3)', '肉豆蔻烯酸(14:1)', '肉豆蔻酸(14:0)', '辛酸(8:0)', '亞麻油酸(18:2)', '其他脂肪酸', '油酸(18:1)', '花生油酸(20:4)', '花生酸(20:0)', '芥子酸(22:1)', '癸酸(10:0)', '棕櫚烯酸(16:1)', '棕櫚酸(16:0)', '硬脂酸(18:0)', '酪酸(4:0)', '飽和脂肪', '鱈烯酸(20:1)', '十七酸(17:0)', '十九酸(19:0)', '十八碳四烯酸(18:4)', '十三酸(13:0)', '十五酸(15:0)', '山酸(22:0)', '己酸(6:0)', '反式脂肪', '廿二碳五烯酸(22:5)', '廿二碳六烯酸(22:6)', '廿四酸(24:0)', '廿碳五烯酸(20:5)', '月桂酸(12:0)', '粗脂肪', '膽固醇']

In [63]:
carbohydrate = ['半乳糖', '乳糖', '果糖', '麥芽糖', '葡萄糖', '蔗糖', '糖質總量', '膳食纖維', '總碳水化合物']

In [64]:
vitaminA = ['維生素A總量(IU)', 'α-胡蘿蔔素', 'β-胡蘿蔔素']

In [65]:
vitaminE =  ['維生素E總量', 'α-生育酚', 'α-維生素E當量(α-TE)', 'β-生育酚', 'γ-生育酚', 'δ-生育酚']

In [66]:
others = ['灰分', '脂肪酸M總量', '脂肪酸P總量', '脂肪酸S總量', '酒精含量', '視網醇', '視網醇當量(RE)', '維生素D2', '維生素D3', '維生素D總量(IU)', '維生素D總量(ug)', '維生素K1', '維生素K2(MK-4)', '維生素K2(MK-7)', '熱量', 'P/M/S', '水分', '水解胺基酸總量', '葉酸']

In [67]:
categories = {}
for item in protein:
    categories[item] = 'protein'
for item in fat:
    categories[item] = 'fat'
for item in carbohydrate:
    categories[item] = 'carbohydrate'
for item in vitaminA:
    categories[item] = 'vitaminA'
for item in vitaminE:
    categories[item] = 'vitaminE'
for item in others:
    categories[item] = 'others'

# 替換分析項
rn_df['分析項'] = rn_df['分析項'].replace(categories)

In [68]:
rn_df['分析項'] = rn_df['分析項'].replace({'酪胺酸(Tyr)' : 'protein'})
rn_df['分析項'] = rn_df['分析項'].replace({'修正熱量' : 'others'})
rn_df['分析項'] = rn_df['分析項'].replace({'菸鹼素' : 'nicotine'})
rn_df['分析項'] = rn_df['分析項'].replace({'維生素B1' : 'vitaminB1'})
rn_df['分析項'] = rn_df['分析項'].replace({'維生素B2' : 'vitaminB2'})
rn_df['分析項'] = rn_df['分析項'].replace({'維生素B6' : 'vitaminB6'})
rn_df['分析項'] = rn_df['分析項'].replace({'維生素C' : 'vitaminC'})
rn_df['分析項'] = rn_df['分析項'].replace({'維生素B12' : 'others'})
rn_df['分析項'] = rn_df['分析項'].replace({'鈣' : 'Ca'})
rn_df['分析項'] = rn_df['分析項'].replace({'鈉' : 'Na'})
rn_df['分析項'] = rn_df['分析項'].replace({'磷' : 'P'})
rn_df['分析項'] = rn_df['分析項'].replace({'鐵' : 'Fe'})
rn_df['分析項'] = rn_df['分析項'].replace({'鎂' : 'Mg'})
rn_df['分析項'] = rn_df['分析項'].replace({'鋅' : 'Zn'})
rn_df['分析項'] = rn_df['分析項'].replace({'鈉' : 'Na'})
rn_df['分析項'] = rn_df['分析項'].replace({'鉀' : 'K'})
rn_df['分析項'] = rn_df['分析項'].replace({'銅' : 'others'})
rn_df['分析項'] = rn_df['分析項'].replace({'錳' : 'others'})

In [69]:
rn_df.drop('分析項分類', inplace=True, axis=1)

In [70]:
rn_df['分析項'].unique()

array(['carbohydrate', 'protein', 'fat', 'others', 'nicotine', 'Ca', 'Na',
       'K', 'vitaminA', 'vitaminB1', 'vitaminB2', 'vitaminB6', 'vitaminC',
       'vitaminE', 'Zn', 'P', 'Mg', 'Fe'], dtype=object)

In [71]:
rm_col = rn_df.columns.tolist()
rm_col.remove('樣品名稱')
rm_col.remove('分析項')
rm_col.remove('含量單位')
rm_col.remove('每單位含量')
en_rf = rn_df.drop(rm_col, axis=1)

In [72]:
df = pd.DataFrame({
    'Serial_number' : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],
    'Gender': ['male','male','male','male','male','male','male','male','male','female','female','female','female','female','female','female','female','female'],
    'Age': ['<1','1-6','7-12','13-15','16-18','19-44','45-64','65-74','75+','<1','1-6','7-12','13-15','16-18','19-44','45-64','65-74','75+'],
    'Numbers_of_people' : [43,737,875,442,393,945,959,854,477,48,709,880,429,394,969,985,893,456],
    'Calorie' : [704.77,1476.39,2061.49,2280.52,2298.29,2471.06,2370.58,2051.02,1817.31,645.26,1318.07,1781.29,1732.94,1852.11,1844.32,1752.28,1613.88,1398.62],
    'Protein' : [16.43,58.33,85.99,94.42,97.05,102.70,98.42,85.32,73.84,16.17,51.68,71.85,68.45,78.84,79.60,75.87,67.35,59.06],
    'Fat' : [30.05,53.30,75.68,85.39,89.46,94.50,83.24,67.63,58.08,30.10,48.22,66.89,63.56,72.56,72.69,64.54,54.04,45.93],
    'Carbohydrate' : [92.81,193.54,262.51,286.22,277.97,291.48,288.91,266.46,247.87,78.38,171.80,225.94,224.57,223.68,219.77,219.64,218.92,189.45],
    'VitaminB1' : [0.72,1.07,1.46,1.65,1.64,1.63,1.63,1.44,1.29,0.59,0.95,1.26,1.14,1.31,1.25,1.25,1.21,1.08],
    'VitaminB2' : [1.12,1.28,1.40,1.41,1.38,1.52,1.46,1.30,1.29,1.06,1.18,1.18,1.12,1.36,1.26,1.26,1.17,1.07],
    'VitaminC' : [80.25,86.17,117.37,118.76,118.10,135.97,182.63,189.34,151.70,70.36,88.58,102.57,95.51,105.66,123.39,187.03,174.75,145.66],
    'Nicotine' : [6.69,12.45,17.38,19.95,20.32,22.93,21.77,18.58,16.32,5.43,11.02,15.01,14.23,15.79,17.18,17.24,14.60,12.02],
    'VitaminB6' : [0.61,1.27,1.80,2.01,2.00,2.31,2.35,2.22,1.99,0.52,1.13,1.50,1.47,1.66,1.76,1.97,1.80,1.54],
    'VitaminA' : [696.74,602.07,688.08,686.71,626.45,695.35,904.46,958.28,915.16,655.31,589.04,587.83,531.49,622.27,646.38,852.50,1031.09,993.31],
    'VitaminE' : [7.43,7.06,8.62,9.69,10.03,10.29,9.90,9.44,8.68,6.18,6.71,7.83,7.27,8.13,8.61,9.04,8.72,7.39],
    'Ca' : [452.09,567.77,524.23,482.96,531.39,530.33,575.74,594.82,595.58,459.46,530.95,435.07,426.14,466.02,479.68,557.50,560.21,522.26],
    'P' : [314.84,926.78,1224.06,1300.79,1330.00,1398.91,1400.90,1263.98,1147.84,314.76,836.09,1031.43,978.76,1104.48,1116.59,1109.06,1054.49,918.02],
    'Fe' : [7.57,10.03,13.92,15.54,14.67,16.56,17.54,15.59,13.74,5.74,9.31,11.66,11.59,13.17,13.12,14.51,13.89,12.28],
    'Mg' : [76.00,187.64,248.12,261.71,265.21,296.95,342.35,342.12,302.15,68.39,169.51,212.20,200.78,227.67,244.02,292.61,307.23,247.18],
    'Zn' : [6.02,8.75,11.87,13.00,12.89,13.88,14.11,12.96,11.20,4.96,7.55,9.67,9.46,11.03,10.58,10.80,10.32,9.78],
    'Na' : [245.35,1980.33,3364.69,3743.90,3749.62,4140.41,3563.29,2979.81,2557.96,252.06,1855.28,2839.04,2837.79,3016.81,3196.05,2803.28,2351.99,2194.12],
    'K' : [757.37,1758.48,2322.66,2408.84,2332.97,2665.89,3007.36,3016.00,2681.86,782.08,1619.22,1991.35,1865.73,2096.43,2287.28,2701.78,2684.74,2159.99]
    }
    )

In [73]:
en_rf.columns

Index(['樣品名稱', '分析項', '含量單位', '每單位含量'], dtype='object')

In [74]:
en_rf.rename(columns = {'樣品名稱':'Name', '分析項':'Analysis_item', '含量單位':'Unit', '每單位含量':'Content_per_unit'}, inplace = True)

In [75]:
en_rf.columns

Index(['Name', 'Analysis_item', 'Unit', 'Content_per_unit'], dtype='object')

In [76]:
en_rf['Analysis_item'].unique()

array(['carbohydrate', 'protein', 'fat', 'others', 'nicotine', 'Ca', 'Na',
       'K', 'vitaminA', 'vitaminB1', 'vitaminB2', 'vitaminB6', 'vitaminC',
       'vitaminE', 'Zn', 'P', 'Mg', 'Fe'], dtype=object)

### nicotine

In [77]:
mask = en_rf['Analysis_item'] == 'nicotine'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### change fat unit from mg to g

In [78]:
# Assuming your dataframe is named df
condition = (en_rf['Unit'] == 'mg') & (en_rf['Analysis_item'] == 'fat')
filtered_df = en_rf[condition].copy()

# Divide 'Content_per_unit' by 10000 and change 'Unit' to 'g'
filtered_df['Content_per_unit'] = filtered_df['Content_per_unit'] / 1000
filtered_df['Unit'] = 'g'

# Update the original dataframe with the modified rows
en_rf.update(filtered_df)

### change protein unit from mg to g

In [79]:
mask = en_rf['Analysis_item'] == 'protein'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg', 'g'], dtype=object)

In [80]:
# Assuming your dataframe is named df
condition = (en_rf['Unit'] == 'mg') & (en_rf['Analysis_item'] == 'protein')
filtered_df = en_rf[condition].copy()

# Divide 'Content_per_unit' by 10000 and change 'Unit' to 'g'
filtered_df['Content_per_unit'] = filtered_df['Content_per_unit'] / 1000
filtered_df['Unit'] = 'g'

# Update the original dataframe with the modified rows
en_rf.update(filtered_df)

### change 醣類(Carbohydrate) unit , no need to change

In [81]:
mask = en_rf['Analysis_item'] == 'carbohydrate'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['g'], dtype=object)

### vitaminB1

In [82]:
mask = en_rf['Analysis_item'] == 'vitaminB1'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### vitaminB2

In [83]:
mask = en_rf['Analysis_item'] == 'vitaminB2'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### vitaminC

In [84]:
mask = en_rf['Analysis_item'] == 'vitaminC'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### vitaminB6

In [85]:
mask = en_rf['Analysis_item'] == 'vitaminB6'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### vitaminA, change from 1I.U. to o.3 ug

In [86]:
mask = en_rf['Analysis_item'] == 'vitaminA'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['I.U.', 'ug'], dtype=object)

In [87]:
# Assuming your dataframe is named df
condition = (en_rf['Unit'] == 'I.U.') & (en_rf['Analysis_item'] == 'vitaminA')
filtered_df = en_rf[condition].copy()

# Divide 'Content_per_unit' by 10000 and change 'Unit' to 'g'
filtered_df['Content_per_unit'] = filtered_df['Content_per_unit'] * 0.3
filtered_df['Unit'] = 'ug'

# Update the original dataframe with the modified rows
en_rf.update(filtered_df)

### vitaminE

In [88]:
mask = en_rf['Analysis_item'] == 'vitaminE'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### Ca

In [89]:
mask = en_rf['Analysis_item'] == 'Ca'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### P

In [90]:
mask = en_rf['Analysis_item'] == 'P'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### Mg

In [91]:
mask = en_rf['Analysis_item'] == 'Mg'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### Zn

In [92]:
mask = en_rf['Analysis_item'] == 'Zn'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### Na

In [93]:
mask = en_rf['Analysis_item'] == 'Na'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### K

In [94]:
mask = en_rf['Analysis_item'] == 'K'
tmp = en_rf[mask]
tmp['Unit'].unique()

array(['mg'], dtype=object)

### merge rows with same analysis_item

In [95]:
en_rf.columns

Index(['Name', 'Analysis_item', 'Unit', 'Content_per_unit'], dtype='object')

In [96]:
en_rf['Analysis_item'].unique()

array(['carbohydrate', 'protein', 'fat', 'others', 'nicotine', 'Ca', 'Na',
       'K', 'vitaminA', 'vitaminB1', 'vitaminB2', 'vitaminB6', 'vitaminC',
       'vitaminE', 'Zn', 'P', 'Mg', 'Fe'], dtype=object)

### merge same analysis_item

In [97]:
result = en_rf.groupby(['Name', 'Analysis_item']).agg({'Content_per_unit': 'sum', 'Unit': 'first'}).reset_index()
result

        Name Analysis_item  Content_per_unit Unit
0      DHA豆奶            Ca             24.00   mg
1      DHA豆奶            Fe              0.20   mg
2      DHA豆奶             K             85.00   mg
3      DHA豆奶            Mg              8.00   mg
4      DHA豆奶            Na             34.00   mg
...      ...           ...               ...  ...
38875    龜苓茶     vitaminB1              0.00   mg
38876    龜苓茶     vitaminB2              0.00   mg
38877    龜苓茶     vitaminB6              0.01   mg
38878    龜苓茶      vitaminC              0.00   mg
38879    龜苓茶      vitaminE              0.00   mg

[38880 rows x 4 columns]

In [98]:
en_rf = result

In [99]:
en_rf.to_csv('everyday_nutrition.csv')

In [100]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/DailyNutriPlanner', echo = False)
en_rf.to_sql(name = 'everyday_nutrition', con = engine, if_exists = 'replace', index = False)

38880

In [101]:
food = rn_df[['整合編號','樣品名稱','俗名','樣品英文名稱','內容物描述']]

In [102]:
food

,整合編號,樣品名稱,俗名,樣品英文名稱,內容物描述
0,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
1,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
2,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
3,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
4,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
...,...,...,...,...,...
224739,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224740,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224741,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224742,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224743,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"

In [103]:
food.rename(columns = {'整合編號':'Sno.','樣品名稱':'Name','俗名':'Other_name','樣品英文名稱':'English_name','內容物描述':'Describe'}, inplace = True)

C:\Users\fan51\AppData\Local\Temp\ipykernel_70620\747218694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food.rename(columns = {'整合編號':'Sno.','樣品名稱':'Name','俗名':'Other_name','樣品英文名稱':'English_name','內容物描述':'Describe'}, inplace = True)

In [104]:
food

,Sno.,Name,Other_name,English_name,Describe
0,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
1,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
2,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
3,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
4,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
...,...,...,...,...,...
224739,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224740,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224741,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224742,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"
224743,J0401801,斑海鯰,"成仔魚,成仔丁,銀成,白肉成,臭臊成,生仔魚,鰻鯰,賓士魚",Sea barbel; Sea catfish; Spotted catfish; Spot...,"生,去鱗,含皮,去頭尾,去內臟及骨刺,混合均勻打碎"

In [105]:
merged_food = food.drop_duplicates(subset=['Sno.'])

In [106]:
merged_food[merged_food['Name'] == '無花果']

            Sno. Name Other_name English_name      Describe
49779   D4400101  無花果        NaN          Fig  生鮮,去蒂,混合均勻打碎
141872  Q8100801  無花果       無花果乾   Fig, dried   生,乾貨,混合均勻打碎

In [107]:
merged_food.loc[141872, 'Name'] = '無花果乾'
merged_food

C:\Users\fan51\AppData\Local\Temp\ipykernel_70620\2310682170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_food.loc[141872, 'Name'] = '無花果乾'

,Sno.,Name,Other_name,English_name,Describe
0,R2300301,冷凍芋泥包,NaN,Taro paste bun,"冷凍包裝,混合均勻打碎(麵粉,芋頭等)"
79,R2300501,冷凍芝麻包,NaN,Sesame bun,"冷凍包裝,混合均勻打碎(麵粉,芝麻粉等)"
160,R2100401,擔仔麵,NaN,NaN,"熟食,加肉燥不含湯,混合均勻打碎"
253,C2300101,生鮮蓮子,NaN,Lotus nut; Lotus seed,"生鮮,混合均勻打碎(蓮子,蓮子心等)"
331,Q4200201,洋芋片,NaN,Potato chips,"熟食,混合均勻打碎"
...,...,...,...,...,...
222869,I0420201,雞尾椎,雞屁股,NaN,"生,雞臟器,去骨,混合均勻打碎"
223063,P1003901,蒜味豆豉醬,NaN,NaN,"混合均勻打碎(豆豉,蒜頭,辣椒,植物油,糖,調味料等)"
223385,P0200501,咖哩塊,NaN,Curry,"混合均勻打碎(咖哩粉,麵粉,油脂,鹽,糖,奶粉,調味料,食品添加物等)"
224041,B0900101,蓮藕,"蓮根,藕,芙蕖,荷花藕",Lotus root; Indian lotus tuber; East Indian lotus,"生鮮,去皮,混合均勻打碎"
224478,E7000102,蒲瓜(圓形),"扁蒲,蒲仔,瓠子(瓜/餔),匏仔(瓜),葫蘆瓜,瓢簞,天瓜,龍蛋瓜,蒲(葫/壺)蘆",Bottle(hairy) gourd;White flowered gourd; Cala...,"生鮮,去皮,混合均勻打碎"

In [108]:
merged_food.to_sql(name = 'foodstuff', con = engine, if_exists = 'replace', index = False)

2160

In [118]:
df.to_sql(name = 'recommended_nutrition', con = engine, if_exists = 'append', index = False)

18

In [116]:
df

,Serial_number,Gender,Age,Numbers_of_people,Calorie,Protein,Fat,Carbohydrate,VitaminB1,VitaminB2,...,VitaminB6,VitaminA,VitaminE,Ca,P,Fe,Mg,Zn,Na,K
0,1,male,<1,43,704.77,16.43,30.05,92.81,0.72,1.12,...,0.61,696.74,7.43,452.09,314.84,7.57,76.00,6.02,245.35,757.37
1,2,male,1-6,737,1476.39,58.33,53.30,193.54,1.07,1.28,...,1.27,602.07,7.06,567.77,926.78,10.03,187.64,8.75,1980.33,1758.48
2,3,male,7-12,875,2061.49,85.99,75.68,262.51,1.46,1.40,...,1.80,688.08,8.62,524.23,1224.06,13.92,248.12,11.87,3364.69,2322.66
3,4,male,13-15,442,2280.52,94.42,85.39,286.22,1.65,1.41,...,2.01,686.71,9.69,482.96,1300.79,15.54,261.71,13.00,3743.90,2408.84
4,5,male,16-18,393,2298.29,97.05,89.46,277.97,1.64,1.38,...,2.00,626.45,10.03,531.39,1330.00,14.67,265.21,12.89,3749.62,2332.97
5,6,male,19-44,945,2471.06,102.70,94.50,291.48,1.63,1.52,...,2.31,695.35,10.29,530.33,1398.91,16.56,296.95,13.88,4140.41,2665.89
6,7,male,45-64,959,2370.58,98.42,83.24,288.91,1.63,1.46,...,2.35,904.46,9.90,575.74,1400.90,17.54,342.35,14.11,3563.29,3007.36
7,8,male,65-74,854,2051.02,85.32,67.63,266.46,1.44,1.30,...,2.22,958.28,9.44,594.82,1263.98,15.59,342.12,12.96,2979.81,3016.00
8,9,male,75+,477,1817.31,73.84,58.08,247.87,1.29,1.29,...,1.99,915.16,8.68,595.58,1147.84,13.74,302.15,11.20,2557.96,2681.86
9,10,female,<1,48,645.26,16.17,30.10,78.38,0.59,1.06,...,0.52,655.31,6.18,459.46,314.76,5.74,68.39,4.96,252.06,782.08
10,11,female,1-6,709,1318.07,51.68,48.22,171.80,0.95,1.18,...,1.13,589.04,6.71,530.95,836.09,9.31,169.51,7.55,1855.28,1619.22
11,12,female,7-12,880,1781.29,71.85,66.89,225.94,1.26,1.18,...,1.50,587.83,7.83,435.07,1031.43,11.66,212.20,9.67,2839.04,1991.35
12,13,female,13-15,429,1732.94,68.45,63.56,224.57,1.14,1.12,...,1.47,531.49,7.27,426.14,978.76,11.59,200.78,9.46,2837.79,1865.73
13,14,female,16-18,394,1852.11,78.84,72.56,223.68,1.31,1.36,...,1.66,622.27,8.13,466.02,1104.48,13.17,227.67,11.03,3016.81,2096.43
14,15,female,19-44,969,1844.32,79.60,72.69,219.77,1.25,1.26,...,1.76,646.38,8.61,479.68,1116.59,13.12,244.02,10.58,3196.05,2287.28
15,16,female,45-64,985,1752.28,75.87,64.54,219.64,1.25,1.26,...,1.97,852.50,9.04,557.50,1109.06,14.51,292.61,10.80,2803.28,2701.78
16,17,female,65-74,893,1613.88,67.35,54.04,218.92,1.21,1.17,...,1.80,1031.09,8.72,560.21,1054.49,13.89,307.23,10.32,2351.99,2684.74
17,18,female,75+,456,1398.62,59.06,45.93,189.45,1.08,1.07,...,1.54,993.31,7.39,522.26,918.02,12.28,247.18,9.78,2194.12,2159.99

In [64]:
a = rn_df['樣品名稱'].unique()

['冷凍芋泥包' '冷凍芝麻包' '擔仔麵' ... '咖哩塊' '蓮藕' '蒲瓜(圓形)']